.card-group {
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 3%;
    justify-content: space-evenly;
}
.card-item {
    padding: 1%;
}

.card-img {
    height: 100%;
    object-fit: cover;
}