.c-item {
    height: 480px;
}

.c-image {
    height: 100%;
    object-fit: cover;
}

.cardz {
   padding: 0.2%;
}

.card-group {
    padding-top: 1%;
    padding-bottom: 1%;
    justify-content: space-evenly;
}